@import 'src/index.css';

.btn{
   background-color: var(--secondary-color);
   color:var(--main-color);
   padding-inline: 40px;
   padding-block:10px ;
   border:none;
   border-radius: 15px;
   font-size: large;
   font-weight:600;
}





@media (max-width:430px) {
   .btn{
    width: 350px;
    height: 70px;
    font-size: 30px;
   }
}