@import 'src/index.css';
.container{
    display: flex;
    flex-direction: column;
    
}

.heading{
    color:var(--secondary-color);
    margin-left: 50px;
    margin-top:50px;
    
}

.contentBox{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap:20px;
    margin:20px 50px;
    padding-bottom:50px;
    border-bottom: 5px solid var(--secondary-color)

}
.contentBox2{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    align-items: center;
    justify-content: space-evenly;
    margin:20px 50px;
    padding-bottom:50px;
    border-bottom: 5px solid var(--secondary-color)
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
}

.contentText{
    color:white;
    font-size: 20px;
    margin-bottom: 50px;

}

.img{
    height: 250px;
    width:200px;
    margin-inline: 20px;
}

.foodItems{
   
    width: 50%;
    
}








@media (max-width:430px) {
    .contentBox{
        flex-direction: column-reverse;
        margin:0;
    
    }

    .contentBox2{
        flex-direction: column-reverse;
        margin:0;
    }
    
    .contentText{
    font-size: 25px;

    }

    .content{
    width:90%;
    }

    .foodItems{
        width: 100%;   
    }

    .img{
        height: 350px;
        width:350px;
        object-fit: cover;
        margin-inline: 20px;
        margin-top:30px ;
        border:2px solid var(--secondary-color);
        border-radius: 20px;
    }

}