@import './index.css';
.container{
  background-color: var(--main-color);
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  position: relative;
}

.content{
  padding-inline:100px;

}


@media (max-width:760px) {
  .content{
    padding-inline:50px;
    display: flex;
    flex-direction: column;
    gap:50px;
  }
  
}

@media (max-width:430px) {
  .content{
    padding-inline:10px;
    
  
  }
  
}
